.wrapper {
    overflow: hidden;
}

.diorama {
    position: relative;
    left: 50%;
    width: 10000px;
    margin-left: -5000px;
}

.diorama__row {
    position: relative;
    text-align: center;
}

.diorama__item {
    display: inline-block;
    width: 400px;
    height: 500px;
    margin: 50px;
    background: #999;
}
